<a href="https://colab.research.google.com/github/RobertCurley/UCDPA_RobertCurley/blob/main/UCDPA_RobertCurley.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Abstract

Football is known for being statitical sport with a number of ratings for different aspects of the game. Football Manager 2023 is a computer game which allows you to manage a team. It has a rich database on the players and their ratings in different aspects of the game.

As I have an interest in the game of Football and gaming I have decided to look at these stats by players to delve deeper into the best player in the world according to Football Manager 2023.

Some of the findings which I can find from the dataset;

*   What country produces the players with the best finishing?
*   Do players with a higher heading rating tend to be taller?

#Introduction

*Explain why you chose this project use case*

# Data

Dataset being used in report;

*   *Football Manager 2023 Dataset* which can be viewed at:

https://www.kaggle.com/datasets/platinum22/foot-ball-manager-2023-dataset

# Importing

Section covering the importing of the databases

In [12]:
# Import NumPy Package
import numpy as np

# Import Pandas Package
import pandas as pd

## Import *Football Manager 2023 Dataset*

In [13]:
# Upload CSV file of Football Manager 2023 from github repository

url = 'https://raw.githubusercontent.com/RobertCurley/UCDPA_RobertCurley/main/FM%202023.csv'

In [14]:
# View FM 2023.csv file in python

fm_2023_df = pd.read_csv(url) # Changed Name to FM_2023_df
fm_2023_df

,Name,Position,Age,ca,pa,Nationality,Club,Corners,Crossing,Dribbling,...,World reputation,Race,RCA,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,Rental club,UID
0,Kevin De Bruyne,M/AM RLC,31,189,189,Belgium,Manchester City,14,19,15,...,9400,Northern_European,181,4,1991/6/28,91,24,394372.0,NaN,18004457
1,Kylian Mbappé,AM/S RL,23,188,197,France,Paris Saint-Germain,13,13,18,...,9248,African_Caribbean,172,13,1998/12/20,57,27,1035616.0,NaN,85139014
2,Robert Lewandowski,S,33,186,190,Poland,Barcelona,3,8,13,...,9250,Northern_European,183,3,1988/8/21,132,76,345204.0,NaN,719601
3,Erling Haaland,S,22,185,195,"Norway,England",Manchester City,7,10,14,...,8750,Northern_European,185,2,2000/7/21,21,20,394372.0,NaN,29179241
4,Mohamed Salah,AM/S RL,30,185,187,Egypt,Liverpool,12,14,17,...,8750,North_African__Middle_Eastern,181,9,1992/6/15,85,47,405971.0,NaN,98028755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,Joe Ashton,D L,16,45,135,England,Burnley,3,4,5,...,236,Northern_European,41,3,2006/6/26,0,0,203.0,NaN,2000210572
8448,River Ries,S,17,45,135,Germany,Karlsruher SC,2,2,11,...,462,Northern_European,33,255,2005/4/3,0,0,402.0,NaN,2000197059
8449,Halilcan Doğan,D C,23,45,-75,Turkey,Osmaniyespor Futbol Kulübü,1,1,1,...,1145,Northern_European,41,3,1999/2/11,0,0,82.0,NaN,2000047739
8450,Adijat Sefer,S,17,45,135,Germany,TSG Hoffenheim,3,4,12,...,474,Northern_European,40,255,2005/1/20,0,0,646.0,NaN,2000197383
8451,Linus Urban,S,17,45,135,Germany,SV Werder Bremen,4,2,10,...,176,Northern_European,41,255,2004/11/20,0,0,646.0,NaN,2000194686

#Preparation

Section covering the preperation of the data.

*   *Create panda DataFrame*
*   *Sorting, Indexing, Grouping*
*   *Drop Duplicates, replace missing values*
*   *Merge Data Frames*

In [15]:
#Shows what the DataFrame looks like
fm_2023_df

,Name,Position,Age,ca,pa,Nationality,Club,Corners,Crossing,Dribbling,...,World reputation,Race,RCA,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,Rental club,UID
0,Kevin De Bruyne,M/AM RLC,31,189,189,Belgium,Manchester City,14,19,15,...,9400,Northern_European,181,4,1991/6/28,91,24,394372.0,NaN,18004457
1,Kylian Mbappé,AM/S RL,23,188,197,France,Paris Saint-Germain,13,13,18,...,9248,African_Caribbean,172,13,1998/12/20,57,27,1035616.0,NaN,85139014
2,Robert Lewandowski,S,33,186,190,Poland,Barcelona,3,8,13,...,9250,Northern_European,183,3,1988/8/21,132,76,345204.0,NaN,719601
3,Erling Haaland,S,22,185,195,"Norway,England",Manchester City,7,10,14,...,8750,Northern_European,185,2,2000/7/21,21,20,394372.0,NaN,29179241
4,Mohamed Salah,AM/S RL,30,185,187,Egypt,Liverpool,12,14,17,...,8750,North_African__Middle_Eastern,181,9,1992/6/15,85,47,405971.0,NaN,98028755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,Joe Ashton,D L,16,45,135,England,Burnley,3,4,5,...,236,Northern_European,41,3,2006/6/26,0,0,203.0,NaN,2000210572
8448,River Ries,S,17,45,135,Germany,Karlsruher SC,2,2,11,...,462,Northern_European,33,255,2005/4/3,0,0,402.0,NaN,2000197059
8449,Halilcan Doğan,D C,23,45,-75,Turkey,Osmaniyespor Futbol Kulübü,1,1,1,...,1145,Northern_European,41,3,1999/2/11,0,0,82.0,NaN,2000047739
8450,Adijat Sefer,S,17,45,135,Germany,TSG Hoffenheim,3,4,12,...,474,Northern_European,40,255,2005/1/20,0,0,646.0,NaN,2000197383
8451,Linus Urban,S,17,45,135,Germany,SV Werder Bremen,4,2,10,...,176,Northern_European,41,255,2004/11/20,0,0,646.0,NaN,2000194686

In [16]:
# Prints out full DataFrame
print(fm_2023_df)

                    Name  Position  Age   ca   pa     Nationality  \
0        Kevin De Bruyne  M/AM RLC   31  189  189         Belgium
1          Kylian Mbappé   AM/S RL   23  188  197          France
2     Robert Lewandowski         S   33  186  190          Poland
3         Erling Haaland         S   22  185  195  Norway,England
4          Mohamed Salah   AM/S RL   30  185  187           Egypt
...                  ...       ...  ...  ...  ...             ...
8447          Joe Ashton       D L   16   45  135         England
8448          River Ries         S   17   45  135         Germany
8449      Halilcan Doğan       D C   23   45  -75          Turkey
8450        Adijat Sefer         S   17   45  135         Germany
8451         Linus Urban         S   17   45  135         Germany

                            Club  Corners  Crossing  Dribbling  ...  \
0                Manchester City       14        19         15  ...
1            Paris Saint-Germain       13        13         18  ...
2                      Barcelona        3         8         13  ...
3                Manchester City        7        10         14  ...
4                      Liverpool       12        14         17  ...
...                          ...      ...       ...        ...  ...
8447                     Burnley        3         4          5  ...
8448               Karlsruher SC        2         2         11  ...
8449  Osmaniyespor Futbol Kulübü        1         1          1  ...
8450              TSG Hoffenheim        3         4         12  ...
8451            SV Werder Bremen        4         2         10  ...

      World reputation                           Race  RCA  Colour of skin  \
0                 9400              Northern_European  181               4
1                 9248              African_Caribbean  172              13
2                 9250              Northern_European  183               3
3                 8750              Northern_European  185               2
4                 8750  North_African__Middle_Eastern  181               9
...                ...                            ...  ...             ...
8447               236              Northern_European   41               3
8448               462              Northern_European   33             255
8449              1145              Northern_European   41               3
8450               474              Northern_European   40             255
8451               176              Northern_European   41             255

      Date of birth  Number of national team appearances  \
0         1991/6/28                                   91
1        1998/12/20                                   57
2         1988/8/21                                  132
3         2000/7/21                                   21
4         1992/6/15                                   85
...             ...                                  ...
8447      2006/6/26                                    0
8448       2005/4/3                                    0
8449      1999/2/11                                    0
8450      2005/1/20                                    0
8451     2004/11/20                                    0

      Goals scored for the national team     Salary  Rental club         UID
0                                     24   394372.0          NaN    18004457
1                                     27  1035616.0          NaN    85139014
2                                     76   345204.0          NaN      719601
3                                     20   394372.0          NaN    29179241
4                                     47   405971.0          NaN    98028755
...                                  ...        ...          ...         ...
8447                                   0      203.0          NaN  2000210572
8448                                   0      402.0          NaN  2000197059
8449                                   0       82.0          NaN  2000047739
8450                                   0      646.0          NaN  2000197383
8451                                   0      646.0          NaN  2000194686

[8452 rows x 98 columns]

In [17]:
# Returns the shape of the dataframe
fm_2023_df.shape

(8452, 98)

In [18]:
# Returns the information present in the dataframe
fm_2023_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8452 entries, 0 to 8451
Data columns (total 98 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Name                                 8452 non-null   object
 1   Position                             8452 non-null   object
 2   Age                                  8452 non-null   int64
 3   ca                                   8452 non-null   int64
 4   pa                                   8452 non-null   int64
 5   Nationality                          8452 non-null   object
 6   Club                                 8345 non-null   object
 7   Corners                              8452 non-null   int64
 8   Crossing                             8452 non-null   int64
 9   Dribbling                            8452 non-null   int64
 10  Finishing                            8452 non-null   int64
 11  First Touch                          8452 non-null   int64
 12  Free Kick Taking                     8452 non-null   int64
 13  Heading                              8452 non-null   int64
 14  Long Shots                           8452 non-null   int64
 15  Long Throws                          8452 non-null   int64
 16  Marking                              8452 non-null   int64
 17  Passing                              8452 non-null   int64
 18  Penalty Taking                       8452 non-null   int64
 19  Tackling                             8452 non-null   int64
 20  Technique                            8452 non-null   int64
 21  Aggressiion                          8452 non-null   int64
 22  Anticipation                         8452 non-null   int64
 23  Bravery                              8452 non-null   int64
 24  Composure                            8452 non-null   int64
 25  Concentration                        8452 non-null   int64
 26  Vision                               8452 non-null   int64
 27  Decision                             8452 non-null   int64
 28  Determination                        8452 non-null   int64
 29  Flair                                8452 non-null   int64
 30  Leadership                           8452 non-null   int64
 31  Off The Ball                         8452 non-null   int64
 32  Position.1                           8452 non-null   int64
 33  Teamwork                             8452 non-null   int64
 34  Work Rate                            8452 non-null   int64
 35  Acceleration                         8452 non-null   int64
 36  Agility                              8452 non-null   int64
 37  Balance                              8452 non-null   int64
 38  Jumping Reach                        8452 non-null   int64
 39  Natural Fitness                      8452 non-null   int64
 40  Pace                                 8452 non-null   int64
 41  Stamina                              8452 non-null   int64
 42  Strength                             8452 non-null   int64
 43  Stability                            8452 non-null   int64
 44  Foul                                 8452 non-null   int64
 45  Contest performance                  8452 non-null   int64
 46  Injury                               8452 non-null   int64
 47  diversity                            8452 non-null   int64
 48  Aerial Reach                         8452 non-null   int64
 49  Command Of Area                      8452 non-null   int64
 50  Communication                        8452 non-null   int64
 51  Eccentricity                         8452 non-null   int64
 52  Handling                             8452 non-null   int64
 53  Kicking                              8452 non-null   int64
 54  One On Ones                          8452 non-null   int64
 55  Reflexes                             8452 non-null   int64
 56  Rushing Out                          8452 non-null   int64
 57  Punching                             8452 non-null   int64
 58  Throwing                             8452 non-null   int64
 59  Adaptation                           8452 non-null   int64
 60  Ambition                             8452 non-null   int64
 61  Argue                                8452 non-null   int64
 62  Loyal                                8452 non-null   int64
 63  Resistant to stress                  8452 non-null   int64
 64  Professional                         8452 non-null   int64
 65  Sportsmanship                        8452 non-null   int64
 66  Emotional control                    8452 non-null   int64
 67  GK                                   8452 non-null   int64
 68  DL                                   8452 non-null   int64
 69  DC                                   8452 non-null   int64
 70  DR                                   8452 non-null   int64
 71  WBL                                  8452 non-null   int64
 72  WBR                                  8452 non-null   int64
 73  DM                                   8452 non-null   int64
 74  ML                                   8452 non-null   int64
 75  MC                                   8452 non-null   int64
 76  MR                                   8452 non-null   int64
 77  AML                                  8452 non-null   int64
 78  AMC                                  8452 non-null   int64
 79  AMR                                  8452 non-null   int64
 80  ST                                   8452 non-null   int64
 81  Height                               8452 non-null   int64
 82  Weight                               8452 non-null   int64
 83  Left Foot                            8452 non-null   int64
 84  Right Foot                           8452 non-null   int64
 85  Values                               8452 non-null   int64
 86  Current reputation                   8452 non-null   int64
 87  Domestic reputation                  8452 non-null   int64
 88  World reputation                     8452 non-null   int64
 89  Race                                 8452 non-null   object
 90  RCA                                  8452 non-null   int64
 91  Colour of skin                       8452 non-null   int64
 92  Date of birth                        8452 non-null   object
 93  Number of national team appearances  8452 non-null   int64
 94  Goals scored for the national team   8452 non-null   int64
 95  Salary                               8345 non-null   float64
 96  Rental club                          995 non-null    object
 97  UID                                  8452 non-null   int64
dtypes: float64(1), int64(90), object(7)
memory usage: 6.3+ MB

In [19]:
# Returns List of Title of all Columns in DataFrame
fm_2023_df.columns

Index(['Name', 'Position', 'Age', 'ca', 'pa', 'Nationality', 'Club', 'Corners',
       'Crossing', 'Dribbling', 'Finishing', 'First Touch', 'Free Kick Taking',
       'Heading', 'Long Shots', 'Long Throws', 'Marking', 'Passing',
       'Penalty Taking', 'Tackling', 'Technique', 'Aggressiion',
       'Anticipation', 'Bravery', 'Composure', 'Concentration', 'Vision',
       'Decision', 'Determination', 'Flair', 'Leadership', 'Off The Ball',
       'Position.1', 'Teamwork', 'Work Rate', 'Acceleration', 'Agility',
       'Balance', 'Jumping Reach', 'Natural Fitness', 'Pace', 'Stamina',
       'Strength', 'Stability', 'Foul', 'Contest performance', 'Injury',
       'diversity', 'Aerial Reach', 'Command Of Area', 'Communication',
       'Eccentricity', 'Handling', 'Kicking', 'One On Ones', 'Reflexes',
       'Rushing Out', 'Punching', 'Throwing', 'Adaptation', 'Ambition',
       'Argue', 'Loyal', 'Resistant to stress', 'Professional',
       'Sportsmanship', 'Emotional control', 'GK', 'DL', 'DC', 'DR', 'WBL',
       'WBR', 'DM', 'ML', 'MC', 'MR', 'AML', 'AMC', 'AMR', 'ST', 'Height',
       'Weight', 'Left Foot', 'Right Foot', 'Values', 'Current reputation',
       'Domestic reputation', 'World reputation', 'Race', 'RCA',
       'Colour of skin', 'Date of birth',
       'Number of national team appearances',
       'Goals scored for the national team', 'Salary', 'Rental club', 'UID'],
      dtype='object')

##Creating DataFrames

Created DataFrames to view the dataset in an easier to read way.

In [67]:
# Slice Data in DataFrame (fm_2023_df) and name KeyDetails_fm_2023_df
# Key Details : Name, Position, Nationality, Club, Age, Height, Weight, salary ca & pa

KeyDetails_fm_2023_df = fm_2023_df.loc[:,['Name', 'Position', 'Nationality', 'Club', 
                                          'Age', 'Height', 'Weight', 'Salary', 'ca', 'pa']].set_index('Name')

print(KeyDetails_fm_2023_df)

                    Position     Nationality                        Club  Age  \
Name
Kevin De Bruyne     M/AM RLC         Belgium             Manchester City   31
Kylian Mbappé        AM/S RL          France         Paris Saint-Germain   23
Robert Lewandowski         S          Poland                   Barcelona   33
Erling Haaland             S  Norway,England             Manchester City   22
Mohamed Salah        AM/S RL           Egypt                   Liverpool   30
...                      ...             ...                         ...  ...
Joe Ashton               D L         England                     Burnley   16
River Ries                 S         Germany               Karlsruher SC   17
Halilcan Doğan           D C          Turkey  Osmaniyespor Futbol Kulübü   23
Adijat Sefer               S         Germany              TSG Hoffenheim   17
Linus Urban                S         Germany            SV Werder Bremen   17

                    Height  Weight     Salary   ca   pa
Name
Kevin De Bruyne        181      68   394372.0  189  189
Kylian Mbappé          178      73  1035616.0  188  197
Robert Lewandowski     185      81   345204.0  186  190
Erling Haaland         195      88   394372.0  185  195
Mohamed Salah          175      72   405971.0  185  187
...                    ...     ...        ...  ...  ...
Joe Ashton             181       0      203.0   45  135
River Ries             184       0      402.0   45  135
Halilcan Doğan         190       0       82.0   45  -75
Adijat Sefer           184       0      646.0   45  135
Linus Urban            174       0      646.0   45  135

[8452 rows x 9 columns]

In [68]:
# Slice Data in DataFrame (fm_2023_df) based on key stats for scoring and name it scoring_fm_2023_df
# Key Stats : Name, Dribbling, Finishing, First Touch, Free Kick Taking, Heading, Long Shots, Bravery, Penalty Taking

scoring_fm_2023_df = fm_2023_df.loc[:, ['Name', 'Dribbling', 'Finishing', 'First Touch', 'Free Kick Taking', 'Heading',
                                        'Long Shots', 'Bravery', 'Penalty Taking']].set_index('Name')
print(scoring_fm_2023_df)

                    Dribbling  Finishing  First Touch  Free Kick Taking  \
Name
Kevin De Bruyne            15         16           16                17
Kylian Mbappé              18         17           18                12
Robert Lewandowski         13         19           18                15
Erling Haaland             14         18           16                13
Mohamed Salah              17         17           17                12
...                       ...        ...          ...               ...
Joe Ashton                  5          4            4                 1
River Ries                 11         11           11                 2
Halilcan Doğan              1          2            4                 1
Adijat Sefer               12          7            8                 3
Linus Urban                10         13            8                 4

                    Heading  Long Shots  Bravery  Penalty Taking
Name
Kevin De Bruyne           6          17       13              16
Kylian Mbappé             7          13       12              18
Robert Lewandowski       17          12       16              20
Erling Haaland           15          13       15              17
Mohamed Salah            10          13       11              17
...                     ...         ...      ...             ...
Joe Ashton                6           1        7               1
River Ries                6           1        5               6
Halilcan Doğan           12           3        6               1
Adijat Sefer             12           4        2               2
Linus Urban              13           5        5               9

[8452 rows x 8 columns]

##Merge DataFrames

Merge the 2 DataFrames Created

In [69]:
# Create Summary List based of 2 created DataFrames (KeyDetails_fm_2023_df & scoring_fm_2023_df) and name Summary_fm_2023_df

Summary_fm_2023_df = KeyDetails_fm_2023_df.merge(scoring_fm_2023_df, on = 'Name')
print(Summary_fm_2023_df)

                    Position     Nationality                        Club  Age  \
Name
Kevin De Bruyne     M/AM RLC         Belgium             Manchester City   31
Kylian Mbappé        AM/S RL          France         Paris Saint-Germain   23
Robert Lewandowski         S          Poland                   Barcelona   33
Erling Haaland             S  Norway,England             Manchester City   22
Mohamed Salah        AM/S RL           Egypt                   Liverpool   30
...                      ...             ...                         ...  ...
Joe Ashton               D L         England                     Burnley   16
River Ries                 S         Germany               Karlsruher SC   17
Halilcan Doğan           D C          Turkey  Osmaniyespor Futbol Kulübü   23
Adijat Sefer               S         Germany              TSG Hoffenheim   17
Linus Urban                S         Germany            SV Werder Bremen   17

                    Height  Weight     Salary   ca   pa  Dribbling  Finishing  \
Name
Kevin De Bruyne        181      68   394372.0  189  189         15         16
Kylian Mbappé          178      73  1035616.0  188  197         18         17
Robert Lewandowski     185      81   345204.0  186  190         13         19
Erling Haaland         195      88   394372.0  185  195         14         18
Mohamed Salah          175      72   405971.0  185  187         17         17
...                    ...     ...        ...  ...  ...        ...        ...
Joe Ashton             181       0      203.0   45  135          5          4
River Ries             184       0      402.0   45  135         11         11
Halilcan Doğan         190       0       82.0   45  -75          1          2
Adijat Sefer           184       0      646.0   45  135         12          7
Linus Urban            174       0      646.0   45  135         10         13

                    First Touch  Free Kick Taking  Heading  Long Shots  \
Name
Kevin De Bruyne              16                17        6          17
Kylian Mbappé                18                12        7          13
Robert Lewandowski           18                15       17          12
Erling Haaland               16                13       15          13
Mohamed Salah                17                12       10          13
...                         ...               ...      ...         ...
Joe Ashton                    4                 1        6           1
River Ries                   11                 2        6           1
Halilcan Doğan                4                 1       12           3
Adijat Sefer                  8                 3       12           4
Linus Urban                   8                 4       13           5

                    Bravery  Penalty Taking
Name
Kevin De Bruyne          13              16
Kylian Mbappé            12              18
Robert Lewandowski       16              20
Erling Haaland           15              17
Mohamed Salah            11              17
...                     ...             ...
Joe Ashton                7               1
River Ries                5               6
Halilcan Doğan            6               1
Adijat Sefer              2               2
Linus Urban               5               9

[8452 rows x 17 columns]

##Sorting DataFrames

In [47]:
# Sort scoring_fm_2023_df by Finishing

scoring_fm_2023_df.sort_values(by='Finishing', ascending=False).iloc[:6,:]

,Dribbling,Finishing,First Touch,Free Kick Taking,Heading,Long Shots,Bravery,Penalty Taking
Name,,,,,,,,
Zlatan Ibrahimović,12,19,20,15,16,15,18,14
Robert Lewandowski,13,19,18,15,17,12,16,20
Harry Kane,14,19,15,10,15,15,14,20
Cristiano Ronaldo,11,19,15,10,19,15,12,19
Erling Haaland,14,18,16,13,15,13,15,17
Heung-Min Son,16,18,13,13,8,16,6,9